[user]
	email = yoshiki.kadono@meetsmore.com
	name = Yoshiki Kadono

[rebase]
	autoStash = true

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[color]
	ui = auto

[pull]
	rebase = true

[init]
	defaultBranch = main

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -1 HEAD